@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.Slider {
  width: 50vw;
  height: 50vh;
}

img {
  width: 150px;
  height: 150px;
}

li {
  display: grid;
  width: 350px;
  height: 385px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  box-shadow: 0 0 1rem grey;
  background: white;
  padding: 1rem;
  line-height: 2;
}